html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --color-bg: #eee;
    --color-text: #444;
    --color-shadow: #33333311; 
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
.heading {
    text-align: center;
    font-weight: bold;
}

.card {
    background: #fafafa;
    max-width: 50rem;
    min-height: 20rem;
    margin: 0 auto 0 auto;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 5px var(--color-shadow);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color-text) #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
